//
   Created by joker.wang on 2017/6/26.

doctype
<!--[if IE 9]><html class="ie ie9 lte9"><![endif]-->
<!--[if !IE]><!-->
html(lang="en") <!--<![endif]-->

    include ../includes/header

    body
        block content

        include ../includes/footer